<h3>Jeu de données solutions (au format CSV)</h3>
<input id="file-solution-map" type="file" name="file">
<br>
<div class="alerts-container"></div>
<br>
<h3>Visualisation du problème</h3>
<ui-gmap-google-map
  center='map.center'
  zoom='map.zoom'
  options='map.options'
  >
  <ui-gmap-markers
    models='markers.models'
    coords="'self'"
    >
  </ui-gmap-markers>
  <ui-gmap-polyline
    ng-repeat="p in polylines"
    path="p.path"
    stroke="p.stroke"
    >
  </ui-gmap-polyline>
</ui-gmap-google-map>
