<div class="row marketing">

  <p><strong>
    L’objectif de ce projet est de proposer une solution, la plus optimale
    possible, au problème de recherche automatique de lieux de formation décrit
    ci-dessous :
  </strong></p>
  <blockquote>
    <p>
      Une société organise régulièrement des sessions de formations sur une
      journée pour les employés de ses agences situées en France métropolitaine.
      Pour cela, elle choisit un certain nombre de lieux de formations et
      affecte les personnes des agences au lieu de formation le plus proche.
      Le nombre de personnes par agence, qui suit la formation, peut varier de
      1 à 10. L’aspect interactif de ces formations impose un <strong>maximum de
      60 personnes par lieu de formation</strong>.
    </p>
    <p>
      Le coût associé à un lieu de formation est égalau coût des formateurs
      (2000€), au coût de location de la salle incluant la restauration
      (on considérera un coût moyen de 1000€) et au coût de transport de chaque
      personne de l’agence vers le lieu de formation. Ce coût de transport de
      chaque personne est proportionnel à la distance entre l’agence et le lieu
      de formation (0,4€/km... on suppose qu’il n’y a pas de covoiturage).
    </p>
    <p>
      L’objectif  pour  cette  société  est  de  trouver le  bon nombre  de
      lieux  de  formation, l’emplacement de chacun  de  ces  lieux choisis
      parmi  les  1947  villes  françaises  de  plus  de  5000  habitants
      (le fichier «LieuxPossibles.txt» contient  les  coordonnées  GPS  des
      1947  villes) et  d’affecter les  personnes des agences à ces lieux, de
      manière à minimiser le coût total de l’ensemble des formations de la
      journée.
    </p>
    <footer>Laurent Bonnevay, <cite title="Polytech Lyon">Polytech Lyon</cite></footer>
  </blockquote>

  <h3>{{hello}}</h3>
  <p>
    {{isdone}}
  </p>

  <p>{{dataset}}</p>

  <!-- <input id="file" type="file" /> -->

</div>
