<h3>Jeu de données solutions (au format CSV)</h3>
<p>
  Header : <quote>"cout";"distanceTotale";"nbcentres"</quote>
</p>
<input id="file-solution-chart" type="file" name="file">
<br>
<div class="alerts-container"></div>
<br>
<h3>Résultats</h3>
<p><i>Cout total par itération</i></p>
<canvas id="line-cost" class="chart chart-line"
  chart-data="dataCost"
  chart-labels="labels"
  >
</canvas>
<p><i>Distance totale par itération</i></p>
<canvas id="line-distance" class="chart chart-line"
  chart-data="dataDistance"
  chart-labels="labels"
  >
</canvas>
<p><i>Nombre de centre ouvert par itération</i></p>
<canvas id="line-nb-centers" class="chart chart-line"
  chart-data="dataNbCenters"
  chart-labels="labels"
  >
</canvas>
